<div class="search" [ngClass]="{'_fixed': attachScroll}">
  <div class="search__content">
    <form [formGroup]="form" (ngSubmit)="searchProductInfo()">
      <input
        formControlName="url"
        class="search-row" placeholder="Enter an URL..."
        [ngClass]="{'_active': form.valid}"/>
      <button [disabled]="url.invalid" type="submit" class="search__parse-btn" >Parse</button>
      <div class="warning" *ngIf="url.invalid && url.touched">Please, enter correct URL</div>
    </form>
  </div>
</div>
