<div class="products-grid__content">
  <div class="products-grid">
    <div class="products-grid__column">
      <ng-container *ngFor="let product of products index as i">
        <ng-container *ngIf="i%3 == 0">
          <app-product [product]="product"></app-product>
        </ng-container>
      </ng-container>
    </div>
    <div class="products-grid__column">
      <ng-container *ngFor="let product of products index as i">
        <ng-container *ngIf="i%3 == 1">
          <app-product [product]="product"></app-product>
        </ng-container>
      </ng-container>
    </div>
    <div class="products-grid__column">
      <ng-container *ngFor="let product of products index as i">
        <ng-container *ngIf="i%3 == 2" >
          <app-product [product]="product"></app-product>
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
